@using DataTableMvc.Models;
@model CompaniaVm
@{
  ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-md-4">
    <h2>Filtros</h2>
    <div class="panel panel-default well">
      <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id="filtros", role="form" }))
        {
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
              @Html.LabelFor(model => model.compania)
              @Html.TextBoxFor(model => model.compania, new { @class = "form-control dt-filtro", placeholder = "Compania" })
              @Html.ValidationMessageFor(model => model.compania, "", new { @class = "text-danger" })
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.pais, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.pais, new { @class = "form-control dt-filtro", placeholder="País" })
            @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out..
            </label>
          </div>
          <button id="enviar" type="submit" class="btn btn-primary">Pesquisar</button>
        }
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2>Resultado</h2>
    <table id="resultado" class="display">
      <thead>
        <tr>
          <th>id</th>
          <th>compania</th>
          <th>pais</th>
          <th>preco</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>id</th>
          <th>compania</th>
          <th>pais</th>
          <th>preco</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

@section styles{
<link href="~/Content/DataTables-1.10.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
}

@section scripts{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/DataTables-1.10.3/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Home/index.js"></script>
}